@{
    ViewData["Title"] = "Profile Page";
}

<div class="div">
    <h1 class="container">This is Profile Page</h1>
    <form asp-controller="Auth" asp-action="Logout" method="post" style="display:inline;">
        <button type="submit" class="btn btn-link"
            style="display: inline; padding: 0; border: none; background: none;">Logout</button>
    </form>
</div>
