@model List<User>

@{
    ViewData["Title"] = "User List";
}

<h1>User List</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.DepartmentId</td>
            </tr>
        }
    </tbody>
</table>

<a href="/User/Create">Create New User</a>
