@{
    ViewData["Title"] = "Home Page";
}

<div class="div">
    <div class="container">
        <div class="div-22">
            <div class="div-23">
                <div class="div-24">
                    <div class="column">
                        <div class="div-25">
                            <div class="div-26">Lorem ipsum dolor sit amet, consectetur</div>
                            <div class="div-27">
                                Menyediakan data properti terintegrasi yang lengkap untuk
                                mendukung pengambilan keputusan yang tepat, pemberian layanan yang
                                cepat dan akurat, serta pengawasan yang memadai.
                            </div>
                            <div class="div-28">
                                <div class="div-29">Learn More</div>
                                <div class="div-30">Learn More</div>
                            </div>
                        </div>
                    </div>
                    <div class="column-2">
                        <img loading="lazy"
                            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/024db4a397a544154c6088e11f92efa438212b3644d52d30d0b8120e2b7be85b?apiKey=d20e9c94b7d84fc1a58e2a177cbb4ca0&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/024db4a397a544154c6088e11f92efa438212b3644d52d30d0b8120e2b7be85b?apiKey=d20e9c94b7d84fc1a58e2a177cbb4ca0&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/024db4a397a544154c6088e11f92efa438212b3644d52d30d0b8120e2b7be85b?apiKey=d20e9c94b7d84fc1a58e2a177cbb4ca0&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/024db4a397a544154c6088e11f92efa438212b3644d52d30d0b8120e2b7be85b?apiKey=d20e9c94b7d84fc1a58e2a177cbb4ca0&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/024db4a397a544154c6088e11f92efa438212b3644d52d30d0b8120e2b7be85b?apiKey=d20e9c94b7d84fc1a58e2a177cbb4ca0&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/024db4a397a544154c6088e11f92efa438212b3644d52d30d0b8120e2b7be85b?apiKey=d20e9c94b7d84fc1a58e2a177cbb4ca0&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/024db4a397a544154c6088e11f92efa438212b3644d52d30d0b8120e2b7be85b?apiKey=d20e9c94b7d84fc1a58e2a177cbb4ca0&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/024db4a397a544154c6088e11f92efa438212b3644d52d30d0b8120e2b7be85b?apiKey=d20e9c94b7d84fc1a58e2a177cbb4ca0&"
                            class="img-4" />
                    </div>
                </div>
            </div>
            <div class="div-31">Telusuri</div>
            <div class="div-32">Metode Perhitungan Nilai Pasar Properti</div>
            <div class="div-33">
                @* <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/09d275ea96a3e5683e4093da0032d31c3e233575f93d5122898039c51e09a758?apiKey=d20e9c94b7d84fc1a58e2a177cbb4ca0&"
                class="img-5" /> *@
                <div class="div-34">
                    <div class="column-3 active">
                        <div class="div-37">
                            Metode Perbandingan Pasar
                            <br />
                            (Sales Comparison Approach)
                        </div>
                        <div class="div-38"></div>
                    </div>
                    <div class="column-3">
                        <div class="div-37">
                            Metode Biaya
                            <br />
                            (Cost Approach)
                        </div>
                        <div class="div-38"></div>
                    </div>
                    <div class="column-3">
                        <div class="div-37">
                            Metode Pendapatan
                            <br />
                            (Income Approach)
                        </div>
                        <div class="div-38"></div>
                    </div>
                    @* <div class="column-4">
                    <div class="div-39">
                    <div class="div-40">
                    <div class="column-5">
                    <div class="div-41">
                    Metode Biaya
                    <br />
                    (Cost Approach)
                    </div>
                    </div>
                    <div class="column-6">
                    <div class="div-42">
                    <div class="div-43"></div>
                    <div class="div-44">
                    Metode Pendapatan
                    <br />
                    (Income Approach)
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div> *@
                </div>
                <div class="div-45">
                    Metode ini melibatkan perbandingan properti yang dinilai dengan properti
                    serupa yang telah dijual baru-baru ini. Rumus dasar yang digunakan
                    adalah:
                    <br />
                    <br />
                    <span style="font-weight: 700; font-size: 32px">
                        Nilai Properti = Biaya Penggantian Baru - Penyusutan + Nilai Tanah
                    </span>
                    <br />
                    <br />
                    <span style="font-weight: 700">Faktor yang harus dipertimbangkan:</span>
                    <ul>
                        <li>Lokasi</li>
                        <li>Ukuran tanah dan bangunan</li>
                        <li>Kondisi fisik properti</li>
                        <li>Fasilitas tambahan</li>
                        <li>Usia bangunan</li>
                    </ul>
                </div>
                <div class="div-46-container">
                    <div class="div-46">Go to Calculator</div>
                </div>
            </div>
        </div>
    </div>
</div>
